/* control the font  */
/* @font-face {
  font-family: 'BalooThambi2';
  src: url('./fonts/BalooThambi2.woff2'),
    format('woff2');
} */

/* @font-face {
  font-family: 'BalooThambi2';
  src: url('./fonts/BalooThambi2.ttf'),
    format('ttf');
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

